<table class="table">
        <tr>
          <td>#</td>
          <td class="sort"><%= sortable "taskname" %></td>
          <td class="sort"><%= sortable "description" %></td>
          <td class="sort"><%= sortable "status" %></td>
          <td>Usersintask</td>
        </tr>
    	  <% @all_tasks.each_with_index do |task, index|%>
          <tr>
        	  <td><%= index + 1 %></td>
        	  <td><%= link_to "#{task.taskname}", edit_user_task_path(current_user.id, task.id), :class => "#{task.taskname}" %></td>
        	  <td><%= task.description %></td>
            <td><%= task.status %></td>
        	  <td>
            <% for user in task.usersintask do%>    
              <%= link_to user.username + ";", show_user_path(user.id) %>
            <% end %>
            </td>
          </tr> 
    	  <% end %>
</table>
<%= will_paginate @all_tasks %>