= form_for [current_user, @task] do |f|
  %p
    = f.label "Taskname"
    = f.text_field :taskname
  %p
    = f.label "Description"
    = f.text_area :description
  %p
    = f.label :task_type, "Task type"
    = f.select(:task_type, options_for_select([["Bug", "bug"],["Task", "list"]]))
  = render 'add_user_field'
  - if params[:action] == "new"
    .current_users
      Current users in this task :
    %p.button= f.submit "Create task"
  - else
    .current_users
      Current users in this task :
      - for user in @taskusers do
        %p{:class => user.username}
          = user.username
          (#{link_to_function "remove", "remove_user_from_task(this, #{@task.id}, '#{user.username}')"})
    %p.button= f.submit "Update task"
