<div>
  <%= form_for [current_user, @task] do |par| %>
    <p>
      <%= par.label "Taskname" %><br />
      <%= par.text_field :taskname %>
    </p>
    <p>
      <%= par.label "Description" %><br />
      <%= par.text_area :description %>
    </p>
    <p class="button"><%= par.submit "Update task" %></p>
  <% end %> 
</div>