<% if @editTask %>
  <%= form_for(@editTask, :url => tasks_update_path(:id => @editTask.id)) do |f| %>
    <p>
  	  <%= f.label "Taskname" %><br />
  	  <%= f.text_field :taskname %>
    </p>
    <p>
  	  <%= f.label "Description" %><br />
  	  <%= f.text_area :description %>
    </p>
    <p class="button"><%= f.submit "Update task" %></p>
  <% end %> 
<% else %>
  <span>You don't have a permision togo there</span>
<% end %> 