<%= form_for [current_user, @task] do |par| %>
  <p>
    <%= par.label "Taskname" %>
    <%= par.text_field :taskname %>
  </p>
  <p>
    <%= par.label "Description" %>
    <%= par.text_area :description %>
  </p>
  <p>
    <%= par.label "Status" %>
    <%= par.select(:status, select_options) %>
  </p>
  <p class="button"><%= par.submit "Update task" %></p>
<% end %> 