<div>
  <% if @userTasks %>
    <table class="task_table">
      <tr>
        <td>#</td>   
        <td><%= sortable "taskname" %></td>
        <td><%= sortable "description" %></td>
      </tr>
    <% @userTasks.each_with_index do |task, index| %>
      <tr>
        <td><%= index + 1 %></td>   
       	<td><%= task.taskname %></td>
       	<td><%= task.description %></td>
      </tr>
    <% end %>  	 
    </table>
    <%= will_paginate @userTasks %>	
  <% else %>
    <span>No tasks found</span>
  <% end %>
</div>
