= link_to "refresh", edit_tasks_path
#content
  - @select_options.each do |value|
    .thumbnail{:id => value[1]}
      %h5= value[0]
      .drop
        - @tasks.each do |task|
          - if task.status == value[1]
            %p.user_tasks{:id => "task_#{task.id}"}
              %span= task.taskname
              %span
                = link_to "Edit", edit_user_task_path(current_user.id, task.id), :class => "modal-window-open"
                %a.popover-open.pull-right{"data-content" => @shared_users_id[task.taskname], 
                  "data-toggle" => "popover", :title => "Users in task"}
                  = @shared_users_count[task.taskname]
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}
          %span{"aria-hidden" => "true"} &times;
        %h4 Edit task
      .modal-body
