    <table id="tada" class="task_table">
      <tr>
        <td>#</td>
        <td class="sort"><%= sortable "taskname" %></td>
        <td class="sort"><%= sortable "description" %></td>		
      </tr>
  	  <% @tasks.each_with_index do |task, index|%>
  	    <tr>
      	  <td><%= index + 1 %></td>
      	  <td><%= link_to "#{task.taskname}", edit_user_task_path(current_user.id, task.id) %></td>
      	  <td><%= task.description %></td>
      	  <td><%= link_to "Delete", user_task_path(current_user.id, task.id), method: "delete", confirm: "Are you sure?" %></td>		
        </tr> 
  	  <% end %>
    </table>
    <%= will_paginate @tasks %>